language: node_js
node_js:
  - 6
  - 7
  - "node"

services:
  - postgresql

addons:
  postgresql: "9.4"

before_install:
  - psql -c 'create database comfy;' -U postgres
  - psql -U postgres comfy < api/var/schema.sql

install: make install migrate
script: make test

cache:
  directories:
    - api/node_modules
    - cli/node_modules
    - admin/node_modules
    - test/node_modules

branches:
  only:
    - master
    - /^greenkeeper/.*$/
