{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-object-rest-spread"
    ]
}
