{
    "presets": [
      ["env", {
          "targets": {
              "node": "current"
          }
      }]
    ],
    "plugins": [
        "add-module-exports",
        "transform-async-to-generator",
        "transform-object-rest-spread"
    ]
}