{
    "presets": [
        "es2015-node6", "es2016", "stage-2",
        ["env", {
            "targets": {
                "node": 6
            },
            "loose": true
        }]
    ],
    "plugins": [
        "add-module-exports"
    ]
}