{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-async-to-generator",
        "transform-regenerator",
        "transform-runtime",
        "transform-object-rest-spread",
        "transform-exponentiation-operator"
    ]
}
